@model ChadCalendar.ViewModels.FooViewModel

@{
    ViewData["Title"] = "Home Page";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
</head>

<div class="content">
    <aside class="project">
        <div class="project__menu">
            <table class="project__table">
                @foreach (var item in Model.Projects)
                {
                    <tr>
                        <td><button><h3>@item.IconNumber</h3></button></td>
                    </tr>
                }
            </table>
        </div>
    </aside>
    <div class="aside_left">
        <header class="panel">
            <div class="panel_aside">
                <table class="panel__table">
                    @foreach (var item in Model.Tasks)
                    {
                        <tr>
                            <td><button><h2>@item.Name</h2></button></td>
                        </tr>
                    }
                </table>
             </div>
        </header>
        <div class="tasks">
            <ul class="tasks__list">
                @foreach (var item in Model.Events)
                {
                        <li><input type="checkbox">@item.Name</li>
                }
            </ul>
        </div>
    </div>
</div>
