@inherits LayoutComponentBase
@using ChadWebCalendar
@using Blazored.Toast.Configuration
@using System.Diagnostics
@inject IJSRuntime JSRuntime

<RadzenDialog />
<RadzenNotification/>
<RadzenTooltip />

<div class="page">
    <div class="main">
        <div>
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="100000">
    <CloseButtonContent>
        <a @onclick="@OnNotificationClosed">&#9746;</a>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    void OnNotificationClosed()
    {
        JSRuntime.InvokeVoidAsync("setTitle", "ChadWebCalendar");
    }
}