@inherits LayoutComponentBase
@using ChadWebCalendar
@using Blazored.Toast.Configuration
@using System.Diagnostics
@inject IJSRuntime JSRuntime

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="555">
    <CloseButtonContent>
        <h3 @onclick="@OnNotificationClosed">&#9746;</h3>
    </CloseButtonContent>
</BlazoredToasts>

@code {
    void OnNotificationClosed()
    {
        JSRuntime.InvokeVoidAsync("setTitle", "ChadWebCalendar");
    }
}