<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">ChadCalendarApp</a>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="scheduler">
                <span class="oi oi-calendar" aria-hidden="true"></span> Календарь
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="taskadd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Tasks
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eventadd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Events
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="projectadd">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
            </NavLink>
        </li>
        
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
