/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}
 
/* Remove default padding */
ul,
ol {
  padding: 0;
}
 
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
 
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
 
/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none;
}
 
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}
 
/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}
 
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}
 
/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*обнуление*/

/*Старт*/
body{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  margin: 15px;
}
.project {
 
}
.project__menu {
  
}
.project__table {
    border-collapse: collapse;
  
    text-align: center;
}

.project__table td{
  padding: 3px;
  min-width: 100%;
  border: 1px solid lightgray;
}

.aside_left {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    
}
.panel {
}
.panel_aside {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.panel__table {
 border-collapse: collapse;
 width: 100%;
 text-align: center;
}
.tasks {
    max-height: 67vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.tasks__list {
}

.panel__table td{
  padding: 5px;
  border: 1px solid lightgray;

}

/*КОД РУСЛАНА*/
.dropbtn {
    background-color: #808080;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #808080;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #808080;}
/**/
.main_menu {
    border: 1px solid lightgray;
    width: 100%;
    height: 75vh;
}
.table td{
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main_menu_header{
    display: flex;
}
.month {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

.create_event_button {
    align-self: flex-end;
}

.checkbox_tasks{
    margin-right: 5px;
}

.form-control {
    width: 25%
}
.task_height{
    height: 100vh;
}
