
@{
    ViewData["Title"] = "Изменение задачи";
}
@model ChadCalendar.Models.Task

<form action="/task/edit" method="post">
    <div hidden="hidden">
        <label asp-for="Id">Input Login</label><br />
        <input asp-for="Id" />
        <span asp-validation-for="Id" />
    </div>
    <div hidden="hidden">
        <label asp-for="Accessed">Input Accessed</label><br />
        <input asp-for="Accessed" />
        <span asp-validation-for="Accessed" />
    </div>
    <div class="form-group">
        <label>Название задачи</label>
        <input type="text" placeholder="Name" asp-for="Name">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea type="text" placeholder="Description" asp-for="Description"></textarea>
    </div>
    <div class="form-group">
        <label>Количество часов на задачу</label>
        <input type="number" placeholder="" asp-for="HoursTakes" min="0">
    </div>
    <div class="form-group">
        <input type="checkbox" asp-for="AllowedToDistribute"><label>Задачу можно автоматически распределить</label><br>
    </div>
    <div class="form-group">
        <label>Максимум в день</label>
        <input type="number" placeholder="" asp-for="MaxPerDay" min="0">
    </div>
    <div class="form-group">
        <label>Дедлайн</label>
        <input type="datetime-local" asp-for="Deadline" />
    </div>
    <div class="form-group">
        <label>Частота</label>
        <select asp-for="Frequency">
            <option>Каждый день</option>
            <option>Каждую неделю</option>
            <option>Каждый месяц</option>
            <option>Никогда</option>
        </select>
    </div>
    <div class="form-group">
        <label>Выберите проект для задачи</label>
        <select asp-for="Project">
            @foreach (var proj in ViewBag.Projects)
            {
                <option>@proj.Name</option>
            }
        </select>
    </div>
    @if (!Model.IsCorrect())
    {
        <label>Введены некорректные данные, попробуйте еще раз</label>
    }
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

