@inject Data.Services.TaskService taskService
@inject NavigationManager NavigationManager


<div class row="row">
    <table class="table table-striped" >
        <thead class="thead-light">
        <tr>
            <td>
                <input class="btn btn-primary" color="" type="button" value="Сек">
            </td>
            <td>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        проект
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </td>
            <td>
                <input class="btn btn-primary" @onclick="( () => redirectToAdd())" type="button" value="+">
            </td>
        </tr>
        </thead>
        @foreach (var task in taskService.GetTasks(user))
        {
            <tbody>
            <tr>
                <td>
                    <input type="checkbox" @bind="@task.IsCompleted"/>
                </td>
                <td>
                    <div>
                        @task.Name
                    </div>
                </td>
                <td>
                    <button @onclick="( () => redirectToEdit(task.Id))">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders" viewBox="0 0 16 16"> 
                            <path fill-rule="evenodd" d="M11.5 2a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM9.05 3a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0V3h9.05zM4.5 7a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM2.05 8a2.5 2.5 0 0 1 4.9 0H16v1H6.95a2.5 2.5 0 0 1-4.9 0H0V8h2.05zm9.45 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm-2.45 1a2.5 2.5 0 0 1 4.9 0H16v1h-2.05a2.5 2.5 0 0 1-4.9 0H0v-1h9.05z"/> 
                        </svg>
                    </button>
                </td>
            </tr>
            </tbody>
        }
    </table>
</div>

@code {
    Data.User user;
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        user = taskService.GetUser();
    }
    void redirectToEdit(int? id)
    {
        NavigationManager.NavigateTo($"/taskedit/{id}");
    }
    void redirectToAdd()
    {
        NavigationManager.NavigateTo($"/taskadd");
    }
}
