@model ChadCalendar.ViewModels.RegisterModel

<h2>@Model.Login's Settings</h2>

@using (Html.BeginForm())
    Html.HiddenFor(x=>x.Login);


<form asp-action="Edit" asp-controller="Account" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="All" ,></div>
    <div>
        <div>
            <label asp-for="Password">Input Password</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Input same password again</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="WorkingHoursFrom">Input the start work time</label><br />
            <input asp-for="WorkingHoursFrom" />
            <span asp-validation-for="WorkingHoursFrom" />
        </div>
        <div>
            <label asp-for="WorkingHoursTo">Input the finish work time</label><br />
            <input asp-for="WorkingHoursTo" />
            <span asp-validation-for="WorkingHoursTo" />
        </div>
        <div>
            <label asp-for="TimeZone">Input your UTC+ value</label><br />
            <input asp-for="TimeZone" />
            <span asp-validation-for="TimeZone" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </div>
</form>