@inject Data.Services.TaskService taskService
@foreach (var task in taskService.GetTasks(user))
            {
                <p>@task.Name</p>
            }
@code {
    Data.User user;
    protected override async System.Threading.Tasks.Task OnInitializedAsync() {
        user = taskService.GetUser();
    }
}
