@inject Data.Services.ProjectService projectService
@inject NavigationManager NavigationManager
@attribute [Authorize]
<div class="wrapper">
     @foreach (var project in projectService.GetProjects(user))
     {
         <div width="100%">
             <input @onclick="(() => redirectToEdit(project.Id))" class="btn btn-info"  color="" type="button" value="@project.IconNumber">
         </div>
     }
     <input @onclick="(() => redirectToAdd())" class="btn btn-info"  color="" type="button" value="+">
</div>

@code {
    Data.User user;
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        user = projectService.GetUser(authenticationState.Result.User.Identity.Name);
    }
    void redirectToEdit(int? id)
    {
        NavigationManager.NavigateTo($"/projectedit/{id}");
    }
    //метод, для создания проекта
    void redirectToAdd()
    {
        NavigationManager.NavigateTo($"/projectadd");
    }
}
