@using ChadWebCalendar.Data.Services
@inject ProjectService projectService
@inject NavigationManager NavigationManager
@attribute [Authorize]

<RadzenTemplateForm TItem="Data.Project" Data="@project" Submit="@OnSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <label>Название проекта</label>
        <input class="form-control" type="text" placeholder="" @bind="project.Name" style="width: 250px">
    </div>
    <div class="form-group">
        <label>Описание</label>
        <textarea class="form-control" type="text" placeholder="" @bind="project.Description" style="width: 250px"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="NRepetitions" class="control-label">Количество повторений в неделю</label>
        <input class="form-control" type="number" @bind="project.NRepetitions" min="0" style="width: 250px">
        <span asp-validation-for="NRepetitions" class="text-danger"></span>
    </div>
    <div class="form-group" hidden>
        <label>Частота</label>
        <select @bind="project.Frequency" style="width: 150px">
            <option disabled>Частота</option>
            <option>Никогда</option>
            <option>Каждый день</option>
            <option>Каждую неделю</option>
            <option>Каждый месяц</option>
        </select>
    </div>
    <div class="form-group">
        <label>Введите время дедлайна</label>
        <input type="datetime-local" @bind="project.Deadline" @bind:format="yyyy-MM-ddTHH:mm" style="width: 250px;" class="form-control" />
    </div>
    <div class="form-group">
        <label>Выберите иконку</label>
        <select class="form-select" @bind="project.IconNumber" style="width: 100px">
            <option selected>😍</option>
            <option>🤠</option>
            <option>😀</option>
            <option>⛹</option>
            <option>☕</option>
            <option>⌚</option>
            <option>😈</option>
        </select>
    </div>

    <div class="row">
        <div class="col">
            <RadzenButton ButtonType="Radzen.ButtonType.Submit" Style="background-color: blue" Text="Готово" />
        </div>
    </div>
</RadzenTemplateForm>


@code {
    Data.Project project;
    string userName;
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    protected override void OnInitialized()
    {
        project = new Data.Project();
        userName = authenticationState.Result.User.Identity.Name;
    }
    void addProject()
    {
        if (project.IconNumber == null)
        {
            project.IconNumber = "😍";

        }
        if (projectService.Create(project, userName))
        {
            OnInitialized();
            NavigationManager.NavigateTo("/", true);
        }
    }

    void OnSubmit()
    {
        addProject();
    }
}
