@model ChadCalendar.Models.Project
@{
    ViewBag.Title = "Добавление проекта";
}
<form asp-action="create" asp-controller="Project">
    <div class="form-group">
        <label asp-for="Name">Имя</label>
        <input type="text" asp-for="Name" />
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <input type="text" asp-for="Description" />
    </div>
    <div class="form-group">
        <label asp-for="NRepetitions" class="control-label">Количество повторений в неделю</label>
        <input type="number" asp-for="NRepetitions" min="0">
    </div>
    <div class="form-group">
        <label>Повторять раз в </label>
        <select asp-for="Frequency">
            <option disabled>Частота</option>
            <option>день</option>
            <option>неделю</option>
            <option>месяц</option>
        </select>
    </div>
    <div class="form-group">
        <label>Введите время дедлайна</label>
        <input type="datetime-local" asp-for="Deadline" />
    </div>
    <div class="form-group">
        <label>Выберите иконку</label>
        <select asp-for="IconNumber">
            <option disabled>Выберите смайл для проекта</option>
            <option>&#128640;</option>
            <option>&#128293;</option>
            <option>&#10084;</option>
            <option>&#129297;</option>
            <option>&#129397;</option>
            <option>&#129312;</option>
            <option>&#9997;</option>
            <option>&#128007;</option>
            <option>&#127800;</option>
            <option>&#127839;</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Отправить" class="btn btn-primary" />
    </div>
</form>