@model ChadCalendar.ViewModels.CreateProjectModel
@{
    ViewBag.Title = "Добавление проекта";
}

<form asp-action="create" asp-controller="Project">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="form-group">
        <label asp-for="Name">Название</label><br />
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Описание</label>
        <input type="text" asp-for="Description"/>
    </div>
    <div class="form-group">
        <label asp-for="NRepetitions" class="control-label">Количество повторений в неделю</label>
        <input type="number" asp-for="NRepetitions" min="0">
        <span asp-validation-for="NRepetitions" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Повторять раз в </label>
        <select asp-for="Frequency" class="form-select" aria-label="Default select example">
            <option selected>никогда</option>
            <option>день</option>
            <option>неделю</option>
            <option>месяц</option>
        </select>
        <span asp-validation-for="Frequency" />
    </div>
    <div class="form-group">
        <label>Введите время дедлайна</label>
        <input type="datetime-local" asp-for="Deadline" />
    </div>
    <div class="form-group">
        <label>Выберите иконку</label>
        <select asp-for="IconNumber">
            <option selected>💗</option>
            <option>😈</option>
            <option>😍</option>
            <option>🤠</option>
            <option>😀</option>
            <option>⛹</option>
            <option>☕</option>
            <option>✔</option>
            <option>⌚</option>
        </select>
    </div>
    <div class="form-group">
        <input type="submit" value="Создать проект" class="btn btn-primary" />
    </div>
</form>