@using ChadWebCalendar.Data
@using Task = System.Threading.Tasks.Task
@inject Data.Services.ProjectService projectService
@inject NavigationManager NavigationManager
@attribute [Authorize]
@using AntDesign;
@using ChadWebCalendar.Components.Projects

<div class="list-group" style="height: 800px; width:100%; overflow: auto;">
    @foreach (var project in projectService.GetProjects(user))
    {
        <input class="list-group-item" type="button" @onclick="(()=> GetProject.InvokeAsync(project))" value="@project.IconNumber" />
    }
<div>
    <p></p>
    <input class="list-group-item" type="button" style="width: 100%"
           @onclick="@(()=>{ visibleProject = true; })" value=➕/>
    <Modal Title="Добавить проект"
           Visible="@visibleProject"
           OnOk="(e)=>{visibleProject = false;}"
           OnCancel="(e)=>{visibleProject = false;}">
        <ProjectAdd />
    </Modal>
</div>
</div>

@code
{
    [CascadingParameter] private Task<AuthenticationState> authenticationState { get; set; }
    Data.User user;
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        user = projectService.GetUser(authenticationState.Result.User.Identity.Name);
    }

    [Parameter] public EventCallback<Project> GetProject { get; set; }
    bool visibleProject = false;
}