@inject Data.Services.TaskService taskService
@inject NavigationManager NavigationManager
@foreach (var project in taskService.GetProjects(user))
{
    <p>@project.Name</p>
    <button @onclick="( () => redirectToEdit(project.Id))">Изменить</button>
}
@code {
    Data.User user;
    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        user = taskService.GetUser();
    }
    void redirectToEdit(int? id)
    {
        NavigationManager.NavigateTo($"/projectedit/{id}");
    }
}
